body {
    padding-top: 90px;
}
html, body 
{
    height:100%;
    background-color:lightblue;
  
    color:rgba(0, 0, 0, 0.71);
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


.course-list{
 
   height: 50%;
   background-repeat:repeat-y;
    background-color: #f7f5f5;  
 }
.client-list{
  background-color:#f7f5f5;
 }

.innerrect {
   background-color: lightblue;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    z-index: 10;
    margin-left: 9px;
    padding: 61px;
}


.rectangle {
    width:100px;
    height:100px;
    border-radius:10px;
    background-color:lightblue;
    
    
}

hr {
    margin-top: 12px;
    /* margin-bottom: 20px; */
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.71);
}


 
.list-group-item {
        background-color: #f7f5f5;
        
}


h4{
   float:right;
   color:rgba(0, 0, 0, 0.71);
 }




a.link-button {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: #03a9f4;
  font-style: italic;
  font-size: 28px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

a.link-button.button-link-1 {
  padding: 5px 10px;
  border-width: 2px;
  border-color: #2196F3;
    background-color: #03A9F4;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

a.link-button span.button-link-text-1 {
  font-style: normal;
  font-size: 18px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

a.link-button.button-link-2 {
  float: left;
  text-align: center;
  white-space: pre;
}

a.link-button span.button-link-text-2 {
  font-family: 'Alike Angular', serif;
}

a.link-button.button-link-1:hover {
  background-color:skyblue;
  color: #1e69c1;
}

a.link-button.button-link-2:hover {
  background-color: #a8a496;
  box-shadow: #6996cb 2px 2px 5px 0;
  text-shadow: none;
}

a.link-button.button-link-1:active {
  background-color: #a8a496;
  color: #1e69c1;
}